body{
    font-family: 'Times New Roman', Times, serif;
}

.bgc-navbar{
    background-color: beige;
}

.border-bottom-dark{
    border-radius: 10px solid;
    border-bottom: #222222;
}

.sticky-top {
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  